* {
  box-sizing: border-box;
}

.cards-row {
  margin: 0px auto;
}

.card {
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 400px;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1em 1.5%;
  animation: scl 0.5s ease-in-out;
  transform-origin: left center;
  background-color: #3c3b3e;
  color: #ecf0f1;
}
.card-title {
  margin-top: -1.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  color: #FEFEFE;
  font-weight: bolder;
  font-size: 2em;
}
.card-favorite {
  position: absolute;
  z-index: 2500;
  left:80%;
  top: 25%;
  color: yellow;
  font-size: 2em;
}
.card-image {
  width: 100%;
  height: 180px;
}
.card-desc {
  padding: 0 1em 1.5em 1em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  color:#CACACA;
  overflow: hidden;
  text-align: justify;
}
.card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20;
}
.card-action {
  margin: 1em 0.2em;
  height: 3em;
  width: 8em;
  border: none;
  font-weight: light;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: 2px;
}
.card-action-cancel {
  background: grey;
}


.card-action-confirm {
  background: gold

}

.card-action:hover {
  cursor: pointer;
  background: lightgray;
  transition: all 0.1s ease-in;
}

.card-action-confirm:hover {
  background: goldenrod;
  transition: all 0.1s ease-in;
}
.card:hover {
  box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in;
}

.ripple {
  border-radius: 50%;
  background: #ff8ec7;
  position: absolute;
  transform: scale(0);
  opacity: 1;
  animation: ripple 0.4s linear;
}

.info {
  font-weight: bolder;
  color: #FEFEFE;
}

.logo {
  width:9px;
  vertical-align:0%;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes scl {
  0% {
    opacity: 0;
    transform: scaleX(0.9) translateX(-50px);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}
