
.itemCard {
  height: 416px; 
  width: 257px;
  background-size: cover; 
  margin: 1rem;
  transition-duration: 0.2s;
}

.itemCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.46);
  cursor: pointer;
}