.modalHistory{
  position: absolute;
  width: 100%;
  background-color:rgba(180,180,180,0.98);
  border-radius: 0.2rem;
  z-index: 3000;
  top:40%;
  animation: coming 1s 1;
  animation-timing-function: cubic-bezier(.3,.95,.75,1.03);
  animation-fill-mode: both;
  color: black;
  padding: 0.5rem;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);

}
.modalHistory h2 {
  text-align: center;
  margin: 0;
  color: #FFD700;
}
.modalHistory p {
  text-align: center;
}

.modalHistory__logo {
  width:1.9%;
  vertical-align:0%;
}

.modalHistory__list {
  color: rgba(255,255,255,1)
}
.arrow:hover {
  transition-duration: 0.4s;
  transform:scale(1.2)
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@keyframes coming {
  0% {
    left:0%;
    opacity: 0.1;
    filter: blur(5px);
  }
  100% {
    left: 40%;
    opacity: 1;
    filter: blur(0);

  }
}