.app {
  text-align: center;
}

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -1rem;
  background-image: url("../assets/combat.png");
  mix-blend-mode: lighten;
  background-size: cover;
  background-position-y:  150%;
  background-position-x:-40%;
}
.titre {
  font-family: 'Gugi', cursive;
  color: #FEFEFE;
  font-Size: 4rem;
  margin-top: 0;
}
.textbox {
  position: relative;
  left: 18%;
  top: -5%;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  
}

.textbox :nth-child(2){
  margin-left: 4rem;
}

.catch {
  margin: 1rem;
}


.textbox :nth-child(3){
  margin-left: 8rem;
}

strong {
  font-Size: 3.5rem;
  font-weight: bold;
  margin-right: 1rem;

}

.golden {
  color: #FFD700;
}
.combat {
  z-index: 3000;
  width: 100%;
  mix-blend-mode: screen;
  position: fixed;
  top: -10;
  right: 0;
}