.app {
  text-align: center;
}

.home {
  position: relative;
  background-image: url("../assets/combat.png");
  mix-blend-mode: lighten;
  background-size: cover;
  background-position-y:  100%;
  background-position-x: 50%;
}
.titre {
  font-family: 'Gugi', cursive;
  color: #FEFEFE;
  font-Size: 4rem;
  margin-top: 0;
  text-align: center;
}
.textbox {
  position: relative;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  margin-left: 5rem;
}

.textbox :nth-child(2){
  margin-left: 4rem;
}

.catch {
  position: relative;
  margin: 1rem;
  animation: coming 1.5s 1;
  animation-timing-function: cubic-bezier(.3,.95,.75,1.03);
  animation-fill-mode: forwards;
}

.anim2{
  
}

.anim3{

}

.textbox :nth-child(3){
  margin-left: 8rem;
}

strong {
  font-Size: 3.5rem;
  font-weight: bold;
  margin-right: 1rem;

}

.golden {
  color: #FFD700;
}

@keyframes coming {
  0% {
    left:-800px;
    opacity: 0.1;
    filter: blur(5px);

  }
  100% {
    left: 0;
    opacity: 1;
    filter: blur(0);

  }
}